name: Release (NPM)
on:
  push:
    branches: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck", "check"]'
  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      npm_build_command: >
        sudo apt-get update &&
        sudo apt-get install -y libnss3-tools mkcert &&
        mkcert -install &&
        mkcert veritable-cloudagent-alice localhost &&
        mkcert veritable-cloudagent-bob localhost &&
        echo "NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem" >> $GITHUB_ENV
      pre_test_command: 'npm run tsoa:build && npm run db:migrate'
      tests: '["test:integration", "test:unit"]'
  generate-sbom-npm:
    uses: digicatapult/shared-workflows/.github/workflows/generate-sbom-npm.yml@main
    permissions:
      contents: read
    with:
      additional_args: "--ignore-npm-errors"
      enable_check_version: true
      enable_dtrack_project: true
      sbom_output_file: ${{ github.event.repository.name }}.cdx.json
    secrets:
      DTRACK_APIKEY: ${{ secrets.DTRACK_APIKEY }}
      DTRACK_HOSTNAME: ${{ secrets.DTRACK_HOSTNAME }}
  build-docker:
    needs: [tests, static-checks-npm]
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    with:
      push_dockerhub: true
      push_ghcr: true
    permissions:
      packages: write
      contents: write
      security-events: write
      actions: read
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.SQNC_DOCKERHUB_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.SQNC_DOCKERHUB_USERNAME }}
  release-github:
    needs:
      - build-docker
      - generate-sbom-npm
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    with:
      get_sbom: true
    permissions:
      contents: write
      pull-requests: read
    secrets: inherit
