name: Release (NPM)
on:
  push:
    branches: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    with:
      matrix_commands: '["lint", "depcheck", "check"]'
  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    with:
      npm_build_command: >
        sudo apt-get update &&
        sudo apt-get install -y libnss3-tools mkcert &&
        mkcert -install &&
        mkcert veritable-cloudagent-alice localhost &&
        mkcert veritable-cloudagent-bob localhost &&
        echo "NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem" >> $GITHUB_ENV &&
      pre_test_command: 'npm run tsoa:build && npm run db:migrate'
      tests: '["test:integration", "test:unit"]'
  build-docker:
    needs: [tests, static-checks-npm]
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    with:
      push_dockerhub: true
      push_ghcr: true
    permissions:
      packages: write
      contents: write
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.SQNC_DOCKERHUB_TOKEN }}
      DOCKERHUB_USERNAME: ${{ secrets.SQNC_DOCKERHUB_USERNAME }}
  release-github:
    needs: [build-docker]
    uses: digicatapult/shared-workflows/.github/workflows/release-github.yml@main
    permissions:
      contents: write
      pull-requests: read
    secrets: inherit
