name: Test (NPM)
on:
  push:
    branches-ignore: ['main']
jobs:
  static-checks-npm:
    uses: digicatapult/shared-workflows/.github/workflows/static-checks-npm.yml@main
    permissions:
      security-events: write
    with:
      matrix_commands: '["lint", "depcheck", "check"]'
  tests:
    uses: digicatapult/shared-workflows/.github/workflows/tests-npm.yml@main
    permissions:
      pull-requests: write
    with:
      npm_build_command: >
        sudo apt-get update &&
        sudo apt-get install -y libnss3-tools mkcert &&
        mkcert -install &&
        mkcert veritable-cloudagent-alice localhost &&
        mkcert veritable-cloudagent-bob localhost &&
        echo "NODE_EXTRA_CA_CERTS=$(mkcert -CAROOT)/rootCA.pem" >> $GITHUB_ENV
      pre_test_command: 'npm run tsoa:build && npm run db:migrate'
      tests: '["test:integration", "test:unit"]'
  build-docker:
    uses: digicatapult/shared-workflows/.github/workflows/build-docker.yml@main
    permissions:
      contents: read
      packages: write
      security-events: write
